.weShot {
    background-color: #fbfbfd;
    height: 1000px;
}

.weShot .w {
    padding-top: 50px;
}

.weShot .title {
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    color: #3f3f3f;
    font-size: 80px;
}

.weShot ul {
    width: 60%;
    height: fit-content;
    margin: 0px auto;
}

.weShot ul li {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    transition: all 0.5s;
}

.weShot ul li:hover {
    height: 300px;
    width: 100%;
}

.weShot ul li span {
    font-size: 40px;
    color: #3f3f3f;
}

.weShot ul li span::after {
    display: inline-block;
    font-family: icon;
    content: "\e901";
    vertical-align: middle;
}

.weShot ul li img {
    height: 100%;
}

.weShot ul li div {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 0px;
    background-size: cover;
    background-position-y: center;
    background-position-x: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.weShot ul li:nth-child(1) div {
    background-image: url(./images/sunset.jpg);
}
.weShot ul li:nth-child(2) div {
    background-image: url(./images/sunset.jpg);
}
.weShot ul li:nth-child(3) div {
    background-image: url(./images/sunset.jpg);
}
.weShot ul li:nth-child(4) div {
    background-image: url(./images/sunset.jpg);
}

.weShot ul li:hover div {
    width: 100%;
}