.weShot {
    background-color: #fbfbfd;
    height: 1000px;
}

.weShot .w {
    padding-top: 50px;
}

.weShot .title {
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    color: #3f3f3f;
    font-size: 80px;
}

.weShot ul {
    width: 60%;
    height: fit-content;
    margin: 0px auto;
}