* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 80%;
    height: 100%;
    min-width: 500px;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
}

.mainWrapper {
    width: 100%;
    max-width: 1920px;
    min-width: 500px;
}