footer {
    background-color: #f5f5f7;
    color: #3f3f3f;
    height: 300px;
}

footer .w {
    padding: 20px 50px 0px 50px;
}

footer .aboutUs ul {
    margin-top: 20px;
    margin-left: 5px;
}

footer .aboutUs li {
    margin-top: 15px;
    height: 20px;
    line-height: 20px;
}

footer .aboutUs li img {
    height: 20px;
    width: 20px;
    vertical-align: top;
}

footer hr {
    position: absolute;
    height: 1px;
    width: 80%;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

footer .beiAnLink {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%) translateY(50%);
    color: #afafaf;
    height: 15px;
    line-height: 15px;
}

footer .beiAnLink img {
    height: 15px;
    vertical-align: top;
}